<!DOCTYPE html>
<html>

<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>

<body>

<table style="width:10%">
  <tr>
    <td><%=@g["A1"].colour%></td>
    <td><%=@g["A2"].colour%></td>    
    <td><%=@g["A3"].colour%></td>
    <td><%=@g["A4"].colour%></td>    
    <td><%=@g["A5"].colour%></td>
  </tr>
  <tr>
    <td><%=@g["B1"].colour%></td>
    <td><%=@g["B2"].colour%></td>    
    <td><%=@g["B3"].colour%></td>
    <td><%=@g["B4"].colour%></td>    
    <td><%=@g["B5"].colour%></td>
  </tr>
  <tr>
    <td><%=@g["C1"].colour%></td>
    <td><%=@g["C2"].colour%></td>    
    <td><%=@g["C3"].colour%></td>
    <td><%=@g["C4"].colour%></td>    
    <td><%=@g["C5"].colour%></td>
  </tr>
  <tr>
    <td><%=@g["D1"].colour%></td>
    <td><%=@g["D2"].colour%></td>    
    <td><%=@g["D3"].colour%></td>
    <td><%=@g["D4"].colour%></td>    
    <td><%=@g["D5"].colour%></td>
  </tr>
  <tr>
    <td><%=@g["E1"].colour%></td>
    <td><%=@g["E2"].colour%></td>    
    <td><%=@g["E3"].colour%></td>
    <td><%=@g["E4"].colour%></td>    
    <td><%=@g["E5"].colour%></td>
  </tr>
</table>

</body>
</html>
